<%-include('./partials/head') %>
<% if(reportCard !== null) { %>
    <section class="reportCard">
        <h1 class="name"><%=reportCard.name%></h1>
        <% for(task in reportCard.tasks) { %>
        <div class="task">
            <h2><%=task%></h2>
            <p class="score">Score: <%=reportCard.tasks[task].score%></p>
            <ul>
                <h3>Test results:</h3>
                <% for( statement of reportCard.tasks[task].statements) {%>
                  <li><span class="statement"><%=statement%></span></li>
                <% } %>
            </ul>
        </div>
        <% } %>
        <h2>Score:</h2>
        <h2 class="final-score"><%=reportCard.score%></h2>
    </section>
<% } else { %>
    <section class="notfound">
        <h1 class="name"><%=name%></h1>
        <p> No report found for this student!</p>
    </section>
<% } %>
<%-include('./partials/foot') %>